<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>Controller.ControllerEstado.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAluno</servlet-name>
        <servlet-class>Controller.ControllerEstado.ControladorAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProfessor</servlet-name>
        <servlet-class>Controller.ControllerEstado.ControladorProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAlunoFerias</servlet-name>
        <servlet-class>Controller.ControllerEstado.Ferias.ControladorAlunoFerias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProfFerias</servlet-name>
        <servlet-class>Controller.ControllerEstado.Ferias.ControladorProfFerias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAdmLetivo</servlet-name>
        <servlet-class>Controller.ControllerEstado.Letivo.ControladorAdmLetivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAlunoLetivo</servlet-name>
        <servlet-class>Controller.ControllerEstado.Letivo.ControladorAlunoLetivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProfLetivo</servlet-name>
        <servlet-class>Controller.ControllerEstado.Letivo.ControladorProfLetivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeriasEstado</servlet-name>
        <servlet-class>Controller.ControllerEstado.FeriasEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LetivoEstado</servlet-name>
        <servlet-class>Controller.ControllerEstado.LetivoEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatriculaEstado</servlet-name>
        <servlet-class>Controller.ControllerEstado.MatriculaEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Estado</servlet-name>
        <servlet-class>Controller.Estado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comando</servlet-name>
        <servlet-class>Controller.Command.Comando</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlunoEstado</servlet-name>
        <servlet-class>Controller.ControllerConta.AlunoEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEstado</servlet-name>
        <servlet-class>Controller.ControllerConta.AdminEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfEstado</servlet-name>
        <servlet-class>Controller.ControllerConta.ProfEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioEstado</servlet-name>
        <servlet-class>Controller.ControllerConta.UsuarioEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginComando</servlet-name>
        <servlet-class>Controller.Command.LoginComando</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PossibilidadeMatriculaComando</servlet-name>
        <servlet-class>Controller.Command.PossibilidadeMatriculaComando</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioDAO</servlet-name>
        <servlet-class>Model.Persistence.UsuarioDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBCUsuarioDAO</servlet-name>
        <servlet-class>Model.Persistence.JDBCUsuarioDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FactoryDAO</servlet-name>
        <servlet-class>Model.Persistence.FactoryDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SistemaDAO</servlet-name>
        <servlet-class>Model.Persistence.SistemaDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBCSistemaDAO</servlet-name>
        <servlet-class>Model.Persistence.JDBCSistemaDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBCDAO</servlet-name>
        <servlet-class>Model.Persistence.JDBCDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoricoEscolarElemento</servlet-name>
        <servlet-class>Model.Logic.HistoricoEscolarElemento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoricoDAO</servlet-name>
        <servlet-class>Model.Persistence.HistoricoDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBCHistoricoDAO</servlet-name>
        <servlet-class>Model.Persistence.JDBCHistoricoDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TurmaDAO</servlet-name>
        <servlet-class>Model.Persistence.TurmaDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBCTurmaDAO</servlet-name>
        <servlet-class>Model.Persistence.JDBCTurmaDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisciplinaDAO</servlet-name>
        <servlet-class>Model.Persistence.DisciplinaDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBCDisciplinaDAO</servlet-name>
        <servlet-class>Model.Persistence.JDBCDisciplinaDAO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletOiMundo</servlet-name>
        <url-pattern>/oi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAdm</servlet-name>
        <url-pattern>/ControladorAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAluno</servlet-name>
        <url-pattern>/ControladorAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProfessor</servlet-name>
        <url-pattern>/ControladorProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAlunoFerias</servlet-name>
        <url-pattern>/ControladorAlunoFerias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProfFerias</servlet-name>
        <url-pattern>/ControladorProfFerias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAdmLetivo</servlet-name>
        <url-pattern>/ControladorAdmLetivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAlunoLetivo</servlet-name>
        <url-pattern>/ControladorAlunoLetivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProfLetivo</servlet-name>
        <url-pattern>/ControladorProfLetivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeriasEstado</servlet-name>
        <url-pattern>/FeriasEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LetivoEstado</servlet-name>
        <url-pattern>/LetivoEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatriculaEstado</servlet-name>
        <url-pattern>/MatriculaEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Estado</servlet-name>
        <url-pattern>/Estado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comando</servlet-name>
        <url-pattern>/Comando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlunoEstado</servlet-name>
        <url-pattern>/AlunoEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEstado</servlet-name>
        <url-pattern>/AdminEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfEstado</servlet-name>
        <url-pattern>/ProfEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioEstado</servlet-name>
        <url-pattern>/UsuarioEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginComando</servlet-name>
        <url-pattern>/LoginComando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PossibilidadeMatriculaComando</servlet-name>
        <url-pattern>/PossibilidadeMatriculaComando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioDAO</servlet-name>
        <url-pattern>/UsuarioDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDBCUsuarioDAO</servlet-name>
        <url-pattern>/JDBCUsuarioDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FactoryDAO</servlet-name>
        <url-pattern>/FactoryDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SistemaDAO</servlet-name>
        <url-pattern>/SistemaDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDBCSistemaDAO</servlet-name>
        <url-pattern>/JDBCSistemaDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDBCDAO</servlet-name>
        <url-pattern>/JDBCDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoricoEscolarElemento</servlet-name>
        <url-pattern>/HistoricoEscolarElemento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoricoDAO</servlet-name>
        <url-pattern>/HistoricoDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDBCHistoricoDAO</servlet-name>
        <url-pattern>/JDBCHistoricoDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TurmaDAO</servlet-name>
        <url-pattern>/TurmaDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDBCTurmaDAO</servlet-name>
        <url-pattern>/JDBCTurmaDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisciplinaDAO</servlet-name>
        <url-pattern>/DisciplinaDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDBCDisciplinaDAO</servlet-name>
        <url-pattern>/JDBCDisciplinaDAO</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>servletOiMundo</servlet-name>
        <servlet-class>Controller.ControllerTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controller.ControllerEstado.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAdm</servlet-name>
        <servlet-class>Controller.ControllerEstado.ControladorAdm</servlet-class>
    </servlet>
</web-app>
